
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 1.2rem;
    margin: 0;
}

.product-category {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
}

.product-price {
    font-size: 1.2rem;
    color: #00c;
    margin: 5px 0;
}

.product-description {
    font-size: 0.9rem;
    color: #444;
    margin: 10px 0 0;
}

.delete-msg{
    color:red;
    text-align: center;
}