<div class="seller-auth">
    <!--------- SIGNUP HTML TAGS ------------->
    <div *ngIf="!showLoggin" class="form-container">
        <h2>Registration Form</h2>
        <!--------FORM TAG IS USED TO GET DATA ------>
        <!--------#formSignUp="ngForm": This is a template reference variable named formSignUp. 
        It allows us to reference this form in the template itself. 
        The ngForm directive is used to create an Angular form instance and bind it to the formSignUp variable.----->
        <!---(submit)="signUp(formSignUp.value)": This is an event binding that listens for the form submission event. 
        When the form is submitted, it calls the signUp method defined in the component class and passes the form's value as an argument.----->
        <form #formSignUp="ngForm" (submit)="signUp(formSignUp.value)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" ngModel required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" ngModel required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ngModel required>
            </div>
            <div class="form-group">
            <p class="info-link">Already have an Account? Click here <a (click)="goToLogin()">Login</a></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>


    <!------ Login Form ------>
    <p class="error-p">{{authError}}</p>
    <div *ngIf="showLoggin" class="form-container">
        <h2>Login Form</h2>
        <form #formSignIn="ngForm" (ngSubmit)="signIn(formSignIn.value)">
        <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" ngModel required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ngModel required>
            </div>
            <div class="form-group">
                <p class="info-link">Don't have an Account? Click here <a (click)="goToSignUp()">SignUp</a></p>
                </div>
            <div class="form-group">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>