<div class="seller-auth">
    <div class="form-container" *ngIf="!showLoggin">
        <h2>Registration Form</h2>
        <form #userSignUp="ngForm" (submit)="userAuth(userSignUp.value)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" ngModel required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" ngModel required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ngModel required>
            </div>
            <div class="form-group">
            <p class="info-link">Already have an Account? Click here <a (click)="goToLogin()">Login</a></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>

    <!------ Login Form ------>
    <div class="form-container" *ngIf="showLoggin">
        <h2>Login Form</h2>
        <p class="error-p">{{authError}}</p>
        <form #userSignIn="ngForm" (ngSubmit)="userLogin(userSignIn.value)">
        <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" ngModel
                 required 
                 #email="ngModel"
                 email
                 >
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Enter the valid value</span></p>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" 
                name="password" ngModel 
                required #password="ngModel" 
                minlength="2"
                maxlength="20">
                <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Enter the valid value</span></p>

            </div>
            <div class="form-group">
                <p class="info-link">Don't have an Account? Click here <a (click)="goToSignUp()">SignUp</a></p>
                </div>
            <div class="form-group">
                <input [disabled]="userSignIn.invalid" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>